<div class="mx-5">
  <p id="notice"><%= notice %></p>

  <h1 class="pb-3">
    <strong><%= @restaurant.name %></strong>
  </h1>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @restaurant.phone_number %>
  </p>

  <!-- <p>
    <strong>Integer:</strong>
    <%= @restaurant.integer %>
  </p> -->

  <p>
    <strong>Category:</strong>
    <%= @restaurant.category %>
  </p>

  <div class="container">
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item">
          <strong><%= review.rating %></strong> -
          <%= review.content %></li>
      <% end %>
    </ul>
  </div>

<div class="pt-3">
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %> |
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
</div>
</div>
